@font-face{
    font-family:belinda;
    src:url(../fuentes/belinda.ttf);
}
@font-face{
    font-family:adine;
    src:url(../fuentes/adine.ttf);
}
@font-face{
    font-family:broadcast;
    src:url(../fuentes/broadcast.ttf);
}


@font-face{
    font-family:mortifield;
    src:url(../fuentes/mortifield.ttf);
}

@font-face{
    font-family:alien;
    src:url(../fuentes/alien.ttf);
}
@font-face{
    font-family:gorge;
    src:url(../fuentes/gorge.ttf);
}
@font-face{
    font-family:escuela;
    src:url(../fuentes/school.ttf);
}


